.tb {
  position: fixed;
  z-index: 1009;
  // opacity: 1;
  transition: all 0.5s;
}

/* 
in app.css line 163, .tbt's before style has 1px white background, need to
overwrite to black cause the tabbar's background is set to black in new design, 
otherwise there will be a white line between tabbar and other block; 
*/

.tbt:before {
  background-color: #e0e0e0;
}

.tb-item {
  flex: 1;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tb-icon {
  width: 26px;
  height: 26px;
  position: relative;
  text-align: center;
}

.tb-icon .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 20rpx;
}
.product-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 18rpx;
  letter-spacing: -0.06em;
}
.tb-icon .text span {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: -15px;
  left: 10px;
  background-color: red;
}

.tb-label {
  font-size: 10px;
  line-height: 1.4;
  color: #000;
}

.tb-item.selected {
  /*
  image {
    filter: brightness(0);
  }
  */
  .tb-label {
    color: #000;
  }
  .text {
    color: #fff;
  }
}

.micContainer {
  position: absolute;
  width: 38px;
  height: 38px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 100%;
  z-index: 1100;
  left: 50%;
  top: 0;
  transform: translate(-50%, -18px);
}

.hover {
  background-color: #eee;
}

/* .scroll {
  animation: scroll 1.5s infinite;
}

@keyframes scroll {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 16rpx);
    opacity: 0;
  }
} */
 .tab-select-under-line{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 8rpx;
  border-bottom: 2rpx solid #000;
 }
